:root{
  /* --sidebar-background: var(--default-component-background); */
  --sidebar-seperator-color: var(--default-seperator-color);
  --sidebar-background: rgb(251,250,249);
}

.sidebar{
  background: var(--sidebar-background);
  width: 100%;
  height: calc(100% - var(--nav-bar-height));
  margin-top: var(--nav-bar-height);
}
